body {
  font-family: 'Roboto', sans-serif;
  background-color: #111a23;
  overflow-y: scroll;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0a0f14;
  height: 7.5%;
  text-align: center;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 2;
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 5%;
}

.nav-link {
  margin-right: 1.5vw;
  text-decoration: none;
  color: #fff;
  font-size: max(1vw, 16px);
  transition: color 0.1s ease, transform 0.3s ease;
  backface-visibility: hidden; /* Prevent text distortion during rotation */
}

@media screen and (max-width: 860px) {
  .nav-link {
    font-size: 2.5vw;
    margin-right: 1vw;
  }
}

.nav-link:hover {
  color: #ffffff !important;
}

.secondary-nav {
    display: flex;
    align-items: center;
    margin-right: 4%;
}

.secondary-nav .nav-link {
    color: #ffdb26;
    font-size: max(1vw, 16px);
    margin-right: 1.5vw;
    text-decoration: none;
    transition: color 0.1s ease, transform 0.3s ease;
    backface-visibility: hidden; /* Prevent text distortion during rotation */
    transform-style: preserve-3d; /* Preserve 3D space for smoother animations */
}

@media screen and (max-width: 860px) {
    .secondary-nav .nav-link {
        font-size: 2.5vw;
        margin-right: 1vw;
    }
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  zoom: reset;
}

.logo {
  width: 90%;
  height: auto;
}

@media screen and (max-width: 860px) {
  .logo {
  width: 75%;
  }
}

.game-square {
    width: 1280px;
    height: 720px;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('gameart/game_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    border: 2px solid #1199ff;
    overflow: hidden;
}

@keyframes playerHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.player {
    position: absolute;
    animation: playerHover 1.5s ease-in-out infinite;
    z-index: 3;
}

.player-shadow {
    position: absolute;
    z-index: 0;
}

.cupcake {
    position: absolute;
    animation: playerHover 3s ease-in-out infinite;
    z-index: 2;
}

.cupcake-shadow {
    position: absolute;
    z-index: 0;
}

.enemy {
    position: absolute;
    z-index: 1;
}

.counter {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(10, 15, 20, 0.5);
    padding: 3px 10px;
    border-radius: 10px;
    font-family: 'Arial Black', sans-serif;
    font-size: 24px;
    z-index: 11;
}

img.try-again {
    position: absolute;
    left: calc(50% - 205px); /* Adjust the value (50px) according to the width of the button */
    bottom: 13%;
    transform: translateX(-50%);
    z-index: 11;
    animation: tryAgainHover 1s ease-in-out infinite alternate;
}

@keyframes tryAgainHover {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;;
    background-color: rgba(0, 0, 0, 0); /* Start with 0% opacity */
    z-index: 10; /* Ensure it's behind the "Try Again" image */
    transition: background-color 1s ease; /* Transition for opacity change */
}

.overlay.active {
    background-color: rgba(0, 0, 0, 0.2); /* Set opacity to 35% */
}

.gg-image {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure it's above other elements */
    /* Add any additional styling you want for the gg image */
}

.audio-control {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 12;
    cursor: pointer; /* Add cursor pointer to indicate it's clickable */
    /* Add any additional styling you want for the audio control button */
}

.centered-footer {
    text-align: center;
    color: #406080;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    width: 100%;
}
