body {
  margin: 0 7.5%;
  font-family: 'Roboto', sans-serif;
  background: url('resources/background1.png') center/cover fixed;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #111a23;
  height: 5%;
  text-align: center;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  z-index: 2;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #1199ff;
}

.secondary-nav {
    display: flex;
    align-items: center;
    margin-right: 6%;
}

.secondary-nav .nav-link {
    color: #ffdb26;
    font-size: max(1vw, 16px);
    margin-right: 2vw;
    text-decoration: none;
    transition: color 0.1s ease, transform 0.3s ease;
    backface-visibility: hidden; /* Prevent text distortion during rotation */
    transform-style: preserve-3d; /* Preserve 3D space for smoother animations */
}

@media screen and (max-width: 860px) {
    .secondary-nav .nav-link {
        font-size: 2.5vw;
        margin-right: 1vw;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 8%;
}

.nav-link {
  margin-right: 2vw;
  text-decoration: none;
  color: #fff;
  font-size: max(1vw, 16px);
  transition: color 0.1s ease, transform 0.3s ease;
  backface-visibility: hidden; /* Prevent text distortion during rotation */
}

@media screen and (max-width: 860px) {
  .nav-link {
    font-size: 2.5vw;
    margin-right: 1vw;
  }
}

.nav-link:hover {
  color: #ffffff !important;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
  zoom: reset;
}

.logo {
  width: 90%;
  height: auto;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 860px) {
  .logo {
  width: 75%;
  }
}

.logo:hover {
  transform: scale(1.075);
}

.intro-image {
    display: block;
    max-width: 80%; /* Adjust the width as needed */
    height: auto;
}

.portfolio {
  background-color: #1a2d3d;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10% 5%;
  margin-bottom: 5%;
  position: relative;
  border-radius: 5px;
  border: 2px solid #1199ff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 860px) {
  .portfolio {
  margin-top: 5%;
  }
}

.portfolio-item {
  position: relative;
  margin: 0.25%;
  overflow: hidden;
  width: calc(20% - 1%);
  border-radius: 2.5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #111a23;
}

.portfolio-item:hover {
  outline: 2px solid #1199ff;
}

.portfolio-item img {
  width: 100%;
  height: auto;
  border-radius: 0 0 1% 1%;
  transition: transform 0.5s ease; /* Only transition transform */
}

.portfolio-item:hover img {
  transform: scale(1.05);
}

.portfolio-item::after {
  content: attr(data-project-name);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 7.5%;
  text-align: center;
  font-weight: bold;
  font-size: 1vw;
  color: #fff;
  background-color: #0a0f14;
  padding: 0.5em;
  border-radius: 0 0 1% 1%;
  opacity: 0;
  transition: opacity 0.3s ease; /* Only transition opacity */
}

@media screen and (max-width: 768px) {
  .portfolio-item::after {
    font-size: 1vw; /* Adjust the font size for smaller screens */
  }
}

.portfolio-item:hover::after {
  opacity: 1;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.overlay-content {
  max-width: 60%;
  max-height: 87.5%;
  overflow-y: auto;
  background-color: #222934;
  border: 2px solid #0a0f14;
}

.close-btn {
  position: absolute;
  top: 2.5%;
  right: 2%;
  color: #fff;
  font-size: 3em;
  cursor: pointer;
  z-index: 15;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2% 2%;
}

.image-container img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 0 3vh;
}

.portfolio-title-image {
    position: absolute;
    align: center;
    top: 1.25em; /* Adjust this percentage as needed */
    left: 2.5em; /* Adjust this percentage as needed */
    width: 20%;    
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 3.5%;
}

}
@media screen and (max-width: 860px) {
  .thank-you-image {
    bottom: .5em;
  }
}

.dex-resume-image {
    display: block;
    margin-top: 20px;
    max-width: 80%; /* Adjust the width as needed */
    height: auto;
}

.contact-content {
    text-align: center;
}

.contact-text {
    color: #1199ff;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    margin: 0;
}

.contact-email {
    color: #ffffff;
    font-family: Arial Black, sans-serif;
    font-size: 36pt;
    margin: 0;
}

@media screen and (max-width: 860px) {
    .contact-text {
        font-size: 20pt;
    }
    .contact-email {
        font-size: 50pt;
    }
}

.dex-contact-image {
    display: inline-block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%; /* Adjust the width as needed */
    height: auto;
    z-index: 1; /* Ensure it's behind the overlay */
}

.thank-you-image {
  position: absolute;
  bottom: 2em;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: auto;
  z-index: 1;
}

.copy-email img {
    width: 32px; /* Adjust as needed */
    height: 32px; /* Adjust as needed */
    margin-left: 10px;
    cursor: pointer;
}

.centered-footer {
  text-align: center;
  color: #fff;
}
